body {
    font-family: Arial;
    margin: 0;
    background-color: #111;
    color: white;
    text-justify: auto;
    background-image: url('solo-leveling.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

header {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: cyan;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
}

.imagenes img {
    width: 505px;
    margin: 10px;
    border: 2px solid white;
}


table {
    width: 100%;
    margin-top: 20px;
    background-color: #333;
}

th {
    background-color: #444;
}

td,
th {
    padding: 10px;
    text-align: center;
}

form input,
form textarea {
    width: 100%;
    max-width: 400px;
}

p {
    text-justify: auto;
}

h2, h3, h4 {
    color: aqua;
}

form {
    color:aqua;
}


